<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, SmartFarm!</title>
</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<h2> Smart Farm Test using Arduino nano and ESP8266 </h2>
<div style="margin: 0; width:400px; height:30px;">
<FORM NAME="form" ACTION="" METHOD="GET">
ESP8266 IP Address:
<INPUT TYPE="text" NAME="iptext" VALUE="" />
</FORM>
</div>
<h3> Click to toggle LED! </h3>
<input type="button" NAME="butname" value="Turn ON LED" />
<p>STATUS: LED is OFF!</p>

<table border="1">
    <th>번호</th>
    <th>온도</th>
    <th>습도</th>
    <th>시간</th>
    {% if sensor_list %}
	{% for sensor in sensor_list %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ sensor['temperature'] }}</td>
        <td>{{ sensor['humidity'] }}</td>
        <td>{{ sensor['create_date'] }}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="3">센서 데이터가 없습니다. .</td>
    </tr>
    {% endif %}

</table>


<script>
$.ajaxSetup({timeout:1000});
btn = document.querySelector('input[name="butname"]');
txt = document.querySelector('p');
btn.addEventListener('click', ledcontrol);

function ledcontrol()
{
	var val1 = 'OFF';
	if (btn.value === 'Turn OFF LED')
	{
	    btn.value = 'Turn ON LED';
	    val1 = 'OFF';
	    txt.textContent = 'STATUS: LED is OFF!';
	}
	else
	{
    	btn.value = 'Turn OFF LED';
	    val1 = 'ON';
    	txt.textContent = 'STATUS: LED is ON!';
	}
	TextVar = form.iptext.value;
	ArduinoVar = "http://" + TextVar + ":80/";
	$.get( ArduinoVar, {led: val1})	;
	{Connection: close};
}

</script>

</body>

</html>